html {
    background-color: rgb(250, 238, 238);
}

h1 {
    color: rgb(136, 21, 21);
    padding-left: 20px;
    text-align: center;
}

h2 {
    color: rgb(136, 21, 21);
    padding-left: 20px;
}

p {
    text-indent: 20px;
    padding-left: 20px;
    font-size: larger;
}
.col {
    border-style: solid;
    border-color: rgb(168, 62, 62);
    border-radius: 5px;
    background-color: rgb(221, 187, 187);
    margin: 5%;
}